<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="aboutUs.scss"/>

</head>
<body>
<div class="topnav">
    <a href="Home.html">Home</a>
    <a href="SignUp.html">Login/Sign Up</a>
    <a class="active" href="AboutUs.html">About Us</a>
    <a href="Contact.html">Contact Us</a>

</div>
<h1>Check out the site's developers</h1>
<br>
<br>
<br>
<div>
<h1>About Us at "Kill Bills"</h1>
<br>
<p><strong>Kill Bills</strong> is a notification and scheduling application that users
can enter their subscriptions, how frequently payments are expected, and even offer some more 
services to possibly subscribe too.</p>
<p>Developed by a team of beautiful, busty, computer boys, <strong>Kill Bills</strong> is looking to offer our users
 an easy and manageable way to monitor our subscriptions and their respective payments!</p>
</div>
<div class="container">
    <img src="Images/AppleMusicImage.jpg" width ="300px" height = "300px" alt="Avatar" class="image" style="width:100%">
    <div class="middle">
        <div class="text">Brandon Burgess</div>
    </div>

</div>
<div class="someText">
    <p>Brandon did it all</p>
</div>
<br>
<div class="container">
    <img src="Images/LilGuziVert.jpg" width ="300px" height = "300px" alt="Avatar" class="image" style="width:100%">
    <div class="middle">
        <div class="text">Lil Guzi Vert</div>
    </div>

</div>
<div class="someText">
    <p>Dude gets drunk and has great ideas</p>
</div>
<br>
</body>
</html>
