<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="application.scss"/>
</head>
<body>
<div class="topnav">
  <a href="#home"><%= link_to "Home", sub_list_path %></a>
  <a href="#login"><%= link_to "Login", user_login_path %></a>
  <a class="active" href="#about"><%= link_to "About", page_about_path %></a>
  <a href="#contact"><%= link_to "Contact", page_contact_path %></a>
</div>
<h1>Check out the site's developers</h1>
<br>
<br>
<br>
<div>
<h1>About Us at "Kill Bills"</h1>
<br>
<p><strong>Kill Bills</strong> is a notification and scheduling application that users
can enter their subscriptions, how frequently payments are expected, and even offer some more 
services to possibly subscribe too.</p>
<p>Developed by a team of beautiful, busty, computer boys, <strong>Kill Bills</strong> is looking to offer our users
 an easy and manageable way to monitor our subscriptions and their respective payments!</p>
</div>
<div class="container">
    <img src="/KillBillsProject/app/assets/images/AppleMusicImage.jpg" width ="300px" height = "300px" alt="Avatar" class="image" style="width:100%">
    <div class="middle">
        <div class="text">Brandon Burgess</div>
    </div>

</div>
<div class="someText">
    <p>Brandon did it all</p>
</div>
<br>
<div class="container">
    <img src="Images/LilGuziVert.jpg" width ="300px" height = "300px" alt="Avatar" class="image" style="width:100%">
    <div class="middle">
        <div class="text">Lil Guzi Vert</div>
    </div>

</div>
<div class="someText">
    <p>Dude gets drunk and has great ideas</p>
</div>
<br>
</body>
</html>
