<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank You</title>
    <link rel="stylesheet" href="contactSubmit.css"/>

</head>
<body>
<div class="topnav">
  <a href="#home"><%= link_to "Home", sub_list_path %></a>
  <a href="#login"><%= link_to "Login", user_login_path %></a>
  <a href="#about"><%= link_to "About Us", page_about_path %></a>
  <a class="active" href="#contact"><%= link_to "Contact", page_contact_path %></a>
</div>

<div class="container">
    <div style="text-align:center">

    </div>
    <div class="row">
        <div class="column">

        </div>
        <div class="column">
            <form action="/action_page.php">
            <p>Thank you for reaching out. Someone will be in touch soon!</p>
            </form>
        </div>
    </div>
</div>

</body>
</html>